.TodoListItem2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(179, 179, 179);
    font-weight: 600;
    font-size: 20px;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}

.TodoListItem_container2 {
    display: flex;
    justify-content: space-around;
}

.container2 {
    display: flex;
    gap: 200px;
    max-width: 429px;
    max-height: 66px;
}

.container2 p {
    margin-left: 45px;
    text-wrap: nowrap;
}

.completed {
    background-color: #f5f5f56e;
    color: #333333c5;
}

.completed p{
    text-decoration: line-through;

}

.completed .statusButton {
    background-color: #f12222;
    border: 1px solid #f12222;
    color: white;
}
.completed .statusButton:hover{
    background-color: rgb(230, 16, 16);
    color: white;
}

.statusButton {
    color: #fabb1d;
    background-color: white;
    border: 1px solid #fabb1d;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    position: static;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.statusButton:hover{
    background-color: #fabb1d;
    color: black;
}

.editButton {
    color: green;
    background-color: white;
    border: 1px solid green;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    position: static;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.editButton:hover{
    background-color: green;
    color: black;
}

.removeButton {
    color: red;
    background-color: white;
    border: 1px solid red;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    position: static;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.removeButton:hover{
    background-color: red;
    color: black;
}
